<ion-header  [translucent]="true">
  <ion-toolbar class="navbar">
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-card>
    <ion-item>
      <img src="assets/duoc-logo.png" />}
    </ion-item>
    <ion-card-header>
      <ion-title>  Ingrese sus credenciales para iniciar sesion</ion-title>
    </ion-card-header>

    <ion-item class="ion-margin-top input">
      <ion-input  label="Correo" labelPlacement="floating" placeholder="Ingrese su usuario"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top input">
      <ion-input  label="password" type="password" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>


    
    <ion-button expand="block" (click) = "login()" class="boton ion-margin-top">Ingresar</ion-button>
    <ion-button expand="block" (click) = "changePassword()" class="boton ion-margin-top">Recuperar password</ion-button>
    <ion-button expand="block"  (click)="useradd()" class="boton ion-margin-top">Registrar Usuario</ion-button>




  </ion-card>
</ion-content>
